.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: var(--space-sm);
}

.wrapper {
  flex-flow: column nowrap;
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-sm);
  border-radius: 1rem;
  min-width: 220px;
  width: 48%;
  background-color: var(--color-bg-tertiary);
}

.name {
  font-size: var(--font-size-md);
}

.certIssuer {
  color: var(--color-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.certDate {
  color: var(--color-text-secondary);
  font-size: var(--font-size-xs);
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}
