.container {
  margin: 0;
}

.wrapperDesk {
  list-style: none;
  display: flex;
  gap: var(--space-sm);

  .list {
    width: 6rem;
  }
}

.wrapperMobile {
  list-style: none;
  display: flex;
  gap: var(--space-sm);
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.list {
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
}

.active {
  color: var(--color-primary);
}

.link:hover {
  color: var(--color-tertiary);
}

.link:active,
.active {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-semibold);
}
