.container {
  margin: 0;
}

.wrapper {
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.link:link,
.link:visited {
  font-weight: var(--font-weight-medium);
}

.link:hover {
  color: var(--color-secondary);
}

.link:active {
  color: var(--color-accent);
  font-weight: var(--font-weight-semibold);
}
