.profileSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--space-md);
}

.profile {
  width: 12rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.introduction {
  flex-flow: column nowrap;
}

.icon {
  width: 1rem;
  margin-left: var(--space-xxs);
}

.sectionLine {
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-bg-tertiary);
  margin: var(--space-xxl) 0;
}

.valuesSection {
  display: flex;
  gap: var(--space-lg);
  flex-flow: column nowrap;
}

.cardWrapper {
  display: flex;
  gap: var(--space-xxl);
  flex-flow: row nowrap;
}

@media (max-width: 800px) {
  .valuesSection {
    align-items: center;
  }

  .cardWrapper {
    gap: var(--space-lg);
    flex-flow: column nowrap;
  }
}
